wsdl/AccommodationType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	name="AccommodationTypeServiceInterface"
	targetNamespace="http://interfaces.megatravel.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://interfaces.megatravel.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://interfaces.megatravel.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://interfaces.megatravel.com/" version="1.0">
			<xs:element name="createAccommodationType"
				type="tns:createAccommodationType" />
			<xs:element name="createAccommodationTypeResponse"
				type="tns:createAccommodationTypeResponse" />
			<xs:element name="getRoomType" type="tns:getRoomType" />
			<xs:element name="getRoomTypeResponse"
				type="tns:getRoomTypeResponse" />
			<xs:element name="removeAccommodationType"
				type="tns:removeAccommodationType" />
			<xs:element name="removeAccommodationTypeResponse"
				type="tns:removeAccommodationTypeResponse" />
			<xs:element name="updateAccommodationType"
				type="tns:updateAccommodationType" />
			<xs:element name="updateAccommodationTypeResponse"
				type="tns:updateAccommodationTypeResponse" />
			<xs:complexType name="updateAccommodationType">
				<xs:sequence>
					<xs:element name="new-type"
						type="tns:accomodationTypeDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="accomodationTypeDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="updateAccommodationTypeResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:accomodationTypeDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createAccommodationType">
				<xs:sequence>
					<xs:element name="new-type"
						type="tns:accomodationTypeDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createAccommodationTypeResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:accomodationTypeDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getRoomType">
				<xs:sequence>
					<xs:element name="room-id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getRoomTypeResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:accomodationTypeDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="removeAccommodationType">
				<xs:sequence>
					<xs:element name="room-id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="removeAccommodationTypeResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="removeAccommodationTypeResponse">
		<wsdl:part name="parameters"
			element="tns:removeAccommodationTypeResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createAccommodationType">
		<wsdl:part name="parameters"
			element="tns:createAccommodationType">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRoomTypeResponse">
		<wsdl:part name="parameters"
			element="tns:getRoomTypeResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAccommodationType">
		<wsdl:part name="parameters"
			element="tns:updateAccommodationType">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateAccommodationTypeResponse">
		<wsdl:part name="parameters"
			element="tns:updateAccommodationTypeResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createAccommodationTypeResponse">
		<wsdl:part name="parameters"
			element="tns:createAccommodationTypeResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRoomType">
		<wsdl:part name="parameters" element="tns:getRoomType">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeAccommodationType">
		<wsdl:part name="parameters"
			element="tns:removeAccommodationType">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AccommodationTypeServiceInterface">
		<wsdl:operation name="updateAccommodationType">
			<wsdl:input name="updateAccommodationType"
				message="tns:updateAccommodationType">
			</wsdl:input>
			<wsdl:output name="updateAccommodationTypeResponse"
				message="tns:updateAccommodationTypeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createAccommodationType">
			<wsdl:input name="createAccommodationType"
				message="tns:createAccommodationType">
			</wsdl:input>
			<wsdl:output name="createAccommodationTypeResponse"
				message="tns:createAccommodationTypeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRoomType">
			<wsdl:input name="getRoomType" message="tns:getRoomType">
			</wsdl:input>
			<wsdl:output name="getRoomTypeResponse"
				message="tns:getRoomTypeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAccommodationType">
			<wsdl:input name="removeAccommodationType"
				message="tns:removeAccommodationType">
			</wsdl:input>
			<wsdl:output name="removeAccommodationTypeResponse"
				message="tns:removeAccommodationTypeResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="AccommodationTypeServiceInterfaceServiceSoapBinding"
		type="tns:AccommodationTypeServiceInterface">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="updateAccommodationType">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateAccommodationType">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateAccommodationTypeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createAccommodationType">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createAccommodationType">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createAccommodationTypeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRoomType">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getRoomType">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getRoomTypeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeAccommodationType">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="removeAccommodationType">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="removeAccommodationTypeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AccommodationTypeServiceInterface">
		<wsdl:port name="AccommodationTypeServicePort"
			binding="tns:AccommodationTypeServiceInterfaceServiceSoapBinding">
			<soap:address
				location="http://localhost:9090/AccommodationTypeServicePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
