wsdl/LoginAndRegistration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LoginAndRegistrationService"
	targetNamespace="http://interfaces.megatravel.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://interfaces.megatravel.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ns1="http://www.megatravel.com/global_parameters"
			xmlns:ns2="http://www.megatravel.com/hotel"
			xmlns:ns3="http://www.megatravel.com/room_reservation"
			xmlns:tns="http://www.megatravel.com/system_user_info"
			elementFormDefault="qualified"
			targetNamespace="http://www.megatravel.com/system_user_info"
			version="1.0">
			<xs:import
				namespace="http://www.megatravel.com/global_parameters" />
			<xs:import namespace="http://www.megatravel.com/hotel" />
			<xs:import
				namespace="http://www.megatravel.com/room_reservation" />
			<xs:element name="ChatDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:long" />
						<xs:element ref="ns2:HotelDTO" />
						<xs:element maxOccurs="unbounded" ref="tns:MessageDTO" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MessageDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:long" />
						<xs:element name="Caption" type="xs:string" />
						<xs:element name="Text" type="xs:string" />
						<xs:element name="Opened" type="xs:boolean" />
						<xs:element name="Date" type="xs:string" />
						<xs:element ref="tns:System_user_infoDTO" />
						<xs:element ref="tns:System_user_infoDTO" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="System_user_infoDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:long" />
						<xs:element name="First_name" type="xs:string" />
						<xs:element name="Last_name" type="xs:string" />
						<xs:element name="Username" type="xs:string" />
						<xs:element name="Email" type="xs:string" />
						<xs:element name="Active" type="xs:boolean" />
						<xs:element name="Adress" type="ns1:AddressDTO" />
						<xs:element name="Work_certificate_number"
							type="xs:string" />
						<xs:element maxOccurs="unbounded" name="Role"
							type="ns1:RoleDTO" />
						<xs:element ref="ns2:HotelDTO" />
						<xs:element maxOccurs="unbounded"
							ref="ns3:Room_reservationDTO" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="System_user_loginDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Email" type="xs:string" />
						<xs:element name="Password" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="System_user_registrationDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:long" />
						<xs:element name="First_name" type="xs:string" />
						<xs:element name="Last_name" type="xs:string" />
						<xs:element name="Username" type="xs:string" />
						<xs:element name="Password" type="xs:string" />
						<xs:element name="Repeat_password" type="xs:string" />
						<xs:element name="Email" type="xs:string" />
						<xs:element name="Active" type="xs:boolean" />
						<xs:element name="Adress" type="ns1:AddressDTO" />
						<xs:element name="Work_certificate_number"
							type="xs:string" />
						<xs:element name="Role" type="ns1:RoleDTO" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="User_reviewDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:long" />
						<xs:element name="Rating" type="xs:int" />
						<xs:element name="Comment" type="xs:string" />
						<xs:element name="Time_stamp" type="xs:string" />
						<xs:element minOccurs="0" ref="ns2:RoomDTO" />
						<xs:element minOccurs="0" ref="tns:System_user_infoDTO" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ns1="http://www.megatravel.com/hotel"
			elementFormDefault="qualified"
			targetNamespace="http://www.megatravel.com/room_reservation"
			version="1.0">
			<xs:import namespace="http://www.megatravel.com/hotel" />
			<xs:element name="Room_reservationDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:long" />
						<xs:element name="Begin_date" type="xs:string" />
						<xs:element name="End_date" type="xs:string" />
						<xs:element default="0" name="Realised"
							type="xs:boolean" />
						<xs:element minOccurs="0" ref="ns1:RoomDTO" />
						<xs:element name="Price" type="xs:decimal" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ns1="http://www.megatravel.com/global_parameters"
			xmlns:tns="http://www.megatravel.com/hotel"
			elementFormDefault="qualified"
			targetNamespace="http://www.megatravel.com/hotel" version="1.0">
			<xs:import
				namespace="http://www.megatravel.com/global_parameters" />
			<xs:element name="Accomodation_typeDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:long" />
						<xs:element name="Name" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Extra_optionDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:long" />
						<xs:element name="Name" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="HotelDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long" />
						<xs:element name="rating" type="xs:double" />
						<xs:element name="Address" type="ns1:AddressDTO" />
						<xs:element maxOccurs="unbounded" minOccurs="0"
							ref="tns:Extra_optionDTO" />
						<xs:element maxOccurs="unbounded" minOccurs="0"
							ref="tns:ImageDTO" />
						<xs:element maxOccurs="unbounded" minOccurs="0"
							ref="tns:Price_listDTO" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ImageDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long" />
						<xs:element name="filePath" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Price_listDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:long" />
						<xs:element name="Begin_date" type="xs:string" />
						<xs:element name="End_date" type="xs:string" />
						<xs:element maxOccurs="unbounded" minOccurs="0"
							ref="tns:Unit_price_informationDTO" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RoomDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long" />
						<xs:element name="description" type="xs:string" />
						<xs:element name="cancellationDays" type="xs:int" />
						<xs:element name="cancellationAllowed"
							type="xs:boolean" />
						<xs:element name="capacity" type="xs:int" />
						<xs:element name="numberOfBeds" type="xs:int" />
						<xs:element name="currentlyPrice" type="xs:double" />
						<xs:element ref="tns:HotelDTO" />
						<xs:element ref="tns:Accomodation_typeDTO" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Unit_price_informationDTO">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Id" type="xs:long" />
						<xs:element name="Price" type="ns1:Currency_priceDTO" />
						<xs:element name="Room" type="xs:long" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://www.megatravel.com/global_parameters"
			elementFormDefault="qualified"
			targetNamespace="http://www.megatravel.com/global_parameters"
			version="1.0">
			<xs:element name="newElement" type="xs:anyType" />
			<xs:complexType name="AddressDTO">
				<xs:sequence>
					<xs:element name="Country" type="xs:string" />
					<xs:element name="City" type="xs:string" />
					<xs:element name="Street" type="xs:string" />
					<xs:element name="Street_number" type="xs:int" />
					<xs:element name="Coordinate_x" type="xs:double" />
					<xs:element name="Coordinate_y" type="xs:double" />
					<xs:element name="Id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RoleDTO">
				<xs:sequence>
					<xs:element name="Id" type="xs:long" />
					<xs:element name="role_name" type="xs:string" />
					<xs:element maxOccurs="unbounded" name="privileges"
						type="tns:PrivilegeDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PrivilegeDTO">
				<xs:sequence>
					<xs:element name="Id" type="xs:long" />
					<xs:element name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Currency_priceDTO">
				<xs:sequence>
					<xs:element name="Id" type="xs:long" />
					<xs:element name="Amount" type="tns:Amount_typeDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Amount_typeDTO">
				<xs:sequence>
					<xs:element name="Id" type="xs:long" />
					<xs:element name="Price" type="xs:decimal" />
					<xs:element name="currency" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:ns1="http://www.megatravel.com/global_parameters"
			xmlns:ns2="http://www.megatravel.com/system_user_info"
			xmlns:tns="http://interfaces.megatravel.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://interfaces.megatravel.com/" version="1.0">
			<xs:import
				namespace="http://www.megatravel.com/global_parameters" />
			<xs:import
				namespace="http://www.megatravel.com/system_user_info" />
			<xs:element name="login" type="tns:login" />
			<xs:element name="loginResponse" type="tns:loginResponse" />
			<xs:element name="signup" type="tns:signup" />
			<xs:element name="signupResponse"
				type="tns:signupResponse" />
			<xs:element name="testMethod" type="tns:testMethod" />
			<xs:element name="testMethodResponse"
				type="tns:testMethodResponse" />
			<xs:complexType name="testMethod">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="testMethodResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="signup">
				<xs:sequence>
					<xs:element minOccurs="0" name="registrationDTO">
						<xs:complexType>
							<xs:sequence>
								<xs:element form="qualified" name="Id" type="xs:long" />
								<xs:element form="qualified" name="First_name"
									type="xs:string" />
								<xs:element form="qualified" name="Last_name"
									type="xs:string" />
								<xs:element form="qualified" name="Username"
									type="xs:string" />
								<xs:element form="qualified" name="Password"
									type="xs:string" />
								<xs:element form="qualified" name="Repeat_password"
									type="xs:string" />
								<xs:element form="qualified" name="Email"
									type="xs:string" />
								<xs:element form="qualified" name="Active"
									type="xs:boolean" />
								<xs:element form="qualified" name="Adress"
									type="ns1:AddressDTO" />
								<xs:element form="qualified"
									name="Work_certificate_number" type="xs:string" />
								<xs:element form="qualified" name="Role"
									type="ns1:RoleDTO" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="signupResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="login">
				<xs:sequence>
					<xs:element minOccurs="0" name="loginDTO">
						<xs:complexType>
							<xs:sequence>
								<xs:element form="qualified" name="Email"
									type="xs:string" />
								<xs:element form="qualified" name="Password"
									type="xs:string" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="loginResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="testMethodResponse">
		<wsdl:part name="parameters"
			element="tns:testMethodResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part name="parameters" element="tns:loginResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="signupResponse">
		<wsdl:part name="parameters" element="tns:signupResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="testMethod">
		<wsdl:part name="parameters" element="tns:testMethod">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="signup">
		<wsdl:part name="parameters" element="tns:signup">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="login">
		<wsdl:part name="parameters" element="tns:login">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LoginAndRegistrationService">
		<wsdl:operation name="testMethod">
			<wsdl:input name="testMethod" message="tns:testMethod">
			</wsdl:input>
			<wsdl:output name="testMethodResponse"
				message="tns:testMethodResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="signup">
			<wsdl:input name="signup" message="tns:signup">
			</wsdl:input>
			<wsdl:output name="signupResponse"
				message="tns:signupResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input name="login" message="tns:login">
			</wsdl:input>
			<wsdl:output name="loginResponse"
				message="tns:loginResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="LoginAndRegistrationServiceServiceSoapBinding"
		type="tns:LoginAndRegistrationService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="testMethod">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="testMethod">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="testMethodResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="signup">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="signup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="signupResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="login">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="loginResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LoginAndRegistrationService">
		<wsdl:port name="LoginAndRegistrationPort"
			binding="tns:LoginAndRegistrationServiceServiceSoapBinding">
			<soap:address
				location="http://localhost:9090/LoginAndRegistrationPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
