wsdl/LoginAndRegistration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LoginAndRegistrationService"
	targetNamespace="http://interfaces.megatravel.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://interfaces.megatravel.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://interfaces.megatravel.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://interfaces.megatravel.com/" version="1.0">
			<xs:element name="login" type="tns:login" />
			<xs:element name="loginResponse" type="tns:loginResponse" />
			<xs:element name="signup" type="tns:signup" />
			<xs:element name="signupResponse"
				type="tns:signupResponse" />
			<xs:element name="testMethod" type="tns:testMethod" />
			<xs:element name="testMethodResponse"
				type="tns:testMethodResponse" />
			<xs:complexType name="testMethod">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="testMethodResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="signup">
				<xs:sequence>
					<xs:element minOccurs="0" name="registrationDTO"
						type="tns:systemUserRegistrationDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="systemUserRegistrationDTO">
				<xs:sequence>
					<xs:element name="active" type="xs:boolean" />
					<xs:element minOccurs="0" name="adress"
						type="tns:addressDTO" />
					<xs:element minOccurs="0" name="email" type="xs:string" />
					<xs:element minOccurs="0" name="firstName"
						type="xs:string" />
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="lastName"
						type="xs:string" />
					<xs:element minOccurs="0" name="password"
						type="xs:string" />
					<xs:element minOccurs="0" name="repeatPassword"
						type="xs:string" />
					<xs:element minOccurs="0" name="role" type="tns:roleDTO" />
					<xs:element minOccurs="0" name="username"
						type="xs:string" />
					<xs:element minOccurs="0" name="workCertificateNumber"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addressDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="city" type="xs:string" />
					<xs:element name="coordinateX" type="xs:double" />
					<xs:element name="coordinateY" type="xs:double" />
					<xs:element minOccurs="0" name="country"
						type="xs:string" />
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="street" type="xs:string" />
					<xs:element name="streetNumber" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="roleDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="roleName"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="privilegeDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="signupResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="login">
				<xs:sequence>
					<xs:element minOccurs="0" name="loginDTO"
						type="tns:systemUserLoginDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="systemUserLoginDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="email" type="xs:string" />
					<xs:element minOccurs="0" name="password"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="loginResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="testMethodResponse">
		<wsdl:part name="parameters"
			element="tns:testMethodResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part name="parameters" element="tns:loginResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="signupResponse">
		<wsdl:part name="parameters" element="tns:signupResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="testMethod">
		<wsdl:part name="parameters" element="tns:testMethod">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="signup">
		<wsdl:part name="parameters" element="tns:signup">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="login">
		<wsdl:part name="parameters" element="tns:login">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LoginAndRegistrationService">
		<wsdl:operation name="testMethod">
			<wsdl:input name="testMethod" message="tns:testMethod">
			</wsdl:input>
			<wsdl:output name="testMethodResponse"
				message="tns:testMethodResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="signup">
			<wsdl:input name="signup" message="tns:signup">
			</wsdl:input>
			<wsdl:output name="signupResponse"
				message="tns:signupResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input name="login" message="tns:login">
			</wsdl:input>
			<wsdl:output name="loginResponse"
				message="tns:loginResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="LoginAndRegistrationServiceServiceSoapBinding"
		type="tns:LoginAndRegistrationService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="testMethod">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="testMethod">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="testMethodResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="signup">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="signup">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="signupResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="login">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="loginResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LoginAndRegistrationService">
		<wsdl:port name="LoginAndRegistrationPort"
			binding="tns:LoginAndRegistrationServiceServiceSoapBinding">
			<soap:address
				location="http://localhost:9090/LoginAndRegistrationPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
