wsdl/MessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MessageService"
	targetNamespace="http://interfaces.megatravel.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://interfaces.megatravel.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://interfaces.megatravel.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://interfaces.megatravel.com/" version="1.0">
			<xs:element name="getChat" type="tns:getChat" />
			<xs:element name="getChatResponse"
				type="tns:getChatResponse" />
			<xs:element name="getInbox" type="tns:getInbox" />
			<xs:element name="getInboxResponse"
				type="tns:getInboxResponse" />
			<xs:element name="getMessages" type="tns:getMessages" />
			<xs:element name="getMessagesResponse"
				type="tns:getMessagesResponse" />
			<xs:element name="markRead" type="tns:markRead" />
			<xs:element name="markReadResponse"
				type="tns:markReadResponse" />
			<xs:element name="sendMessage" type="tns:sendMessage" />
			<xs:element name="sendMessageResponse"
				type="tns:sendMessageResponse" />
			<xs:complexType name="sendMessage">
				<xs:sequence>
					<xs:element minOccurs="0" name="ChatId" type="xs:long" />
					<xs:element minOccurs="0" name="MessageDTO"
						type="tns:messageDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="messageDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="caption"
						type="xs:string" />
					<xs:element minOccurs="0" name="date" type="xs:dateTime" />
					<xs:element name="id" type="xs:long" />
					<xs:element name="opened" type="xs:boolean" />
					<xs:element minOccurs="0" name="receiver"
						type="tns:systemUserInfoDTO" />
					<xs:element minOccurs="0" name="sender"
						type="tns:systemUserInfoDTO" />
					<xs:element minOccurs="0" name="text" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="systemUserInfoDTO">
				<xs:sequence>
					<xs:element name="active" type="xs:boolean" />
					<xs:element minOccurs="0" name="adress"
						type="tns:addressDTO" />
					<xs:element minOccurs="0" name="email" type="xs:string" />
					<xs:element minOccurs="0" name="firstName"
						type="xs:string" />
					<xs:element minOccurs="0" name="hotelDTO"
						type="tns:hotelDTO" />
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="lastName"
						type="xs:string" />
					<xs:element minOccurs="0" name="username"
						type="xs:string" />
					<xs:element minOccurs="0" name="workCertificateNumber"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addressDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="city" type="xs:string" />
					<xs:element name="coordinateX" type="xs:double" />
					<xs:element name="coordinateY" type="xs:double" />
					<xs:element minOccurs="0" name="country"
						type="xs:string" />
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="street" type="xs:string" />
					<xs:element name="streetNumber" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="hotelDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="address"
						type="tns:addressDTO" />
					<xs:element name="id" type="xs:long" />
					<xs:element name="rating" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="roleDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="roleName"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="privilegeDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="priceListDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="beginDate"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="endDate"
						type="xs:dateTime" />
					<xs:element name="id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="unitPriceInformationDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="price"
						type="tns:currencyPriceDTO" />
					<xs:element name="room" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="currencyPriceDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="amount"
						type="tns:amountTypeDTO" />
					<xs:element name="id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="amountTypeDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="currency"
						type="xs:string" />
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="price" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="imageDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="filePath"
						type="xs:string" />
					<xs:element name="id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="extraOptionDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="roomReservationDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="beginDate"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="endDate"
						type="xs:dateTime" />
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="price" type="xs:decimal" />
					<xs:element name="realised" type="xs:boolean" />
					<xs:element minOccurs="0" name="roomDTO"
						type="tns:roomDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="roomDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="accomodationTypeDTO"
						type="tns:accomodationTypeDTO" />
					<xs:element name="cancellationAllowed" type="xs:boolean" />
					<xs:element name="cancellationDays" type="xs:int" />
					<xs:element name="capacity" type="xs:int" />
					<xs:element name="currentlyPrice" type="xs:double" />
					<xs:element minOccurs="0" name="description"
						type="xs:string" />
					<xs:element minOccurs="0" name="hotelDTO"
						type="tns:hotelDTO" />
					<xs:element name="id" type="xs:long" />
					<xs:element name="numberOfBeds" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="accomodationTypeDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="sendMessageResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getInbox">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserId" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getInboxResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="return" type="tns:chatDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="chatDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="hotelDTO"
						type="tns:hotelDTO" />
					<xs:element name="id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getChat">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserId" type="xs:long" />
					<xs:element minOccurs="0" name="ChatId" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getChatResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:chatDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getMessages">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserId" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getMessagesResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="return" type="tns:messageDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="markRead">
				<xs:sequence>
					<xs:element minOccurs="0" name="UserId" type="xs:long" />
					<xs:element minOccurs="0" name="ChatId" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="markReadResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getChat">
		<wsdl:part name="parameters" element="tns:getChat">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendMessage">
		<wsdl:part name="parameters" element="tns:sendMessage">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getInbox">
		<wsdl:part name="parameters" element="tns:getInbox">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getChatResponse">
		<wsdl:part name="parameters" element="tns:getChatResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getInboxResponse">
		<wsdl:part name="parameters" element="tns:getInboxResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMessages">
		<wsdl:part name="parameters" element="tns:getMessages">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getMessagesResponse">
		<wsdl:part name="parameters"
			element="tns:getMessagesResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="markRead">
		<wsdl:part name="parameters" element="tns:markRead">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="markReadResponse">
		<wsdl:part name="parameters" element="tns:markReadResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="sendMessageResponse">
		<wsdl:part name="parameters"
			element="tns:sendMessageResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MessageService">
		<wsdl:operation name="sendMessage">
			<wsdl:input name="sendMessage" message="tns:sendMessage">
			</wsdl:input>
			<wsdl:output name="sendMessageResponse"
				message="tns:sendMessageResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getInbox">
			<wsdl:input name="getInbox" message="tns:getInbox">
			</wsdl:input>
			<wsdl:output name="getInboxResponse"
				message="tns:getInboxResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getChat">
			<wsdl:input name="getChat" message="tns:getChat">
			</wsdl:input>
			<wsdl:output name="getChatResponse"
				message="tns:getChatResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMessages">
			<wsdl:input name="getMessages" message="tns:getMessages">
			</wsdl:input>
			<wsdl:output name="getMessagesResponse"
				message="tns:getMessagesResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="markRead">
			<wsdl:input name="markRead" message="tns:markRead">
			</wsdl:input>
			<wsdl:output name="markReadResponse"
				message="tns:markReadResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MessageServiceServiceSoapBinding"
		type="tns:MessageService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendMessage">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sendMessage">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendMessageResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getInbox">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getInbox">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getInboxResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getChat">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getChat">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getChatResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMessages">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getMessages">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getMessagesResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="markRead">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="markRead">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="markReadResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MessageService">
		<wsdl:port name="MessageServicePort"
			binding="tns:MessageServiceServiceSoapBinding">
			<soap:address
				location="http://localhost:9090/MessageServicePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
