wsdl/RoomService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RoomServiceInterface"
	targetNamespace="http://interfaces.megatravel.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://interfaces.megatravel.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://interfaces.megatravel.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://interfaces.megatravel.com/" version="1.0">
			<xs:element name="createRoom" type="tns:createRoom" />
			<xs:element name="createRoomResponse"
				type="tns:createRoomResponse" />
			<xs:element name="getHotelRooms" type="tns:getHotelRooms" />
			<xs:element name="getHotelRoomsResponse"
				type="tns:getHotelRoomsResponse" />
			<xs:element name="getRoom" type="tns:getRoom" />
			<xs:element name="getRoomResponse"
				type="tns:getRoomResponse" />
			<xs:element name="removeRoom" type="tns:removeRoom" />
			<xs:element name="removeRoomResponse"
				type="tns:removeRoomResponse" />
			<xs:element name="updateRoom" type="tns:updateRoom" />
			<xs:element name="updateRoomResponse"
				type="tns:updateRoomResponse" />
			<xs:complexType name="getHotelRooms">
				<xs:sequence>
					<xs:element name="hotel-id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getHotelRoomsResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="return" type="tns:roomDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="roomDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="accomodationTypeDTO"
						type="tns:accomodationTypeDTO" />
					<xs:element name="cancellationAllowed" type="xs:boolean" />
					<xs:element name="cancellationDays" type="xs:int" />
					<xs:element name="capacity" type="xs:int" />
					<xs:element name="currentlyPrice" type="xs:double" />
					<xs:element minOccurs="0" name="description"
						type="xs:string" />
					<xs:element minOccurs="0" name="hotelDTO"
						type="tns:hotelDTO" />
					<xs:element name="id" type="xs:long" />
					<xs:element name="numberOfBeds" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="accomodationTypeDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="hotelDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="address"
						type="tns:addressDTO" />
					<xs:element name="id" type="xs:long" />
					<xs:element name="rating" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="addressDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="city" type="xs:string" />
					<xs:element name="coordinateX" type="xs:double" />
					<xs:element name="coordinateY" type="xs:double" />
					<xs:element minOccurs="0" name="country"
						type="xs:string" />
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="street" type="xs:string" />
					<xs:element name="streetNumber" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="priceListDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="beginDate"
						type="xs:dateTime" />
					<xs:element minOccurs="0" name="endDate"
						type="xs:dateTime" />
					<xs:element name="id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="unitPriceInformationDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="price"
						type="tns:currencyPriceDTO" />
					<xs:element name="room" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="currencyPriceDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="amount"
						type="tns:amountTypeDTO" />
					<xs:element name="id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="amountTypeDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="currency"
						type="xs:string" />
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="price" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="imageDTO">
				<xs:sequence>
					<xs:element minOccurs="0" name="filePath"
						type="xs:string" />
					<xs:element name="id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="extraOptionDTO">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getRoom">
				<xs:sequence>
					<xs:element name="room-id" type="xs:long" />
					<xs:element name="hotel-id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getRoomResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:roomDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="removeRoom">
				<xs:sequence>
					<xs:element name="room-id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="removeRoomResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createRoom">
				<xs:sequence>
					<xs:element name="room" type="tns:roomDTO" />
					<xs:element name="hotel-id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createRoomResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:roomDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="updateRoom">
				<xs:sequence>
					<xs:element name="room" type="tns:roomDTO" />
					<xs:element name="hotel-id" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="updateRoomResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:roomDTO" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="removeRoomResponse">
		<wsdl:part name="parameters"
			element="tns:removeRoomResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getHotelRoomsResponse">
		<wsdl:part name="parameters"
			element="tns:getHotelRoomsResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRoom">
		<wsdl:part name="parameters" element="tns:getRoom">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeRoom">
		<wsdl:part name="parameters" element="tns:removeRoom">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createRoomResponse">
		<wsdl:part name="parameters"
			element="tns:createRoomResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRoomResponse">
		<wsdl:part name="parameters" element="tns:getRoomResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getHotelRooms">
		<wsdl:part name="parameters" element="tns:getHotelRooms">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createRoom">
		<wsdl:part name="parameters" element="tns:createRoom">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateRoomResponse">
		<wsdl:part name="parameters"
			element="tns:updateRoomResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateRoom">
		<wsdl:part name="parameters" element="tns:updateRoom">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RoomServiceInterface">
		<wsdl:operation name="getHotelRooms">
			<wsdl:input name="getHotelRooms"
				message="tns:getHotelRooms">
			</wsdl:input>
			<wsdl:output name="getHotelRoomsResponse"
				message="tns:getHotelRoomsResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRoom">
			<wsdl:input name="getRoom" message="tns:getRoom">
			</wsdl:input>
			<wsdl:output name="getRoomResponse"
				message="tns:getRoomResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeRoom">
			<wsdl:input name="removeRoom" message="tns:removeRoom">
			</wsdl:input>
			<wsdl:output name="removeRoomResponse"
				message="tns:removeRoomResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createRoom">
			<wsdl:input name="createRoom" message="tns:createRoom">
			</wsdl:input>
			<wsdl:output name="createRoomResponse"
				message="tns:createRoomResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateRoom">
			<wsdl:input name="updateRoom" message="tns:updateRoom">
			</wsdl:input>
			<wsdl:output name="updateRoomResponse"
				message="tns:updateRoomResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding
		name="RoomServiceInterfaceServiceSoapBinding"
		type="tns:RoomServiceInterface">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getHotelRooms">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getHotelRooms">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getHotelRoomsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRoom">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getRoom">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getRoomResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeRoom">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="removeRoom">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="removeRoomResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createRoom">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createRoom">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createRoomResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateRoom">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="updateRoom">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateRoomResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RoomServiceInterface">
		<wsdl:port name="RoomServiceInterface"
			binding="tns:RoomServiceInterfaceServiceSoapBinding">
			<soap:address
				location="http://localhost:9090/RoomServiceInterface" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
